body {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 400;

    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: repeat(1, 1fr);
}

.aside-menu {
    background-color: #1e6866;
    color: #FFFFFF;
    padding: 15px;
}

.aside-menu__sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 15px;
}

.avatar-image {
    width: 200px;
}

.avatar-name {
    font-size: 17px;
    font-weight: 700;
    margin-top: 10px;
}

.aside-menu__list {
    margin-top: 15px;
}

.option-list, .option-list:visited {
    color: #FFFFFF;
    display: block;
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 5px;
    text-decoration: none;
}

.section-map,
.section-main,
.section-recreo,
.section-specs,
.section-spaces,
.section-clasif,
.section-clasif-act,
.section-recommend,
.section-references,
.section-time {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
    padding-top: 50px;
}

.section-time {
    background-color: #1e6866;
    color: #FFFFFF;
}

.section-main {
    background-color: #bdede0;
}

.section-recreo,
.section-spaces {
    align-items: center;
    flex-direction: column;
}

.section-specs {
    align-items: center;
    background-color: #bbdbd1;
    flex-direction: column;
}

.section-clasif {
    background-color: #b6b8d6;
}

.section-recommend {
    background-color: #a7b8ef;
}

.container {
    width: 90%;
}

.title-main {
    font-size: 25px;
    font-weight: 700;
}

.subtitle {
    font-size: 20px;
    font-weight: 700;
}

.subtitle-h4 {
    font-size: 18px;
    margin-top: 15px;
}

.lbl-title {
    display: block;
    font-size: 14px;
    font-weight: 700;
}

.paragraph {
    margin-top: 20px;
    text-align: justify;
}

.link-author {
    display: block;
    font-size: 10px;
    text-align: right;
}
.cards {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.card {
    border: 1px solid #1e6866;
    border-radius: 20px;
    margin-top: 20px;
    width: 300px;
}

.card-head {
    border-bottom: 1px solid #1e6866;
    padding: 15px;
}
.card-head  {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 100px;
}

.card-head--open {
    background: url("https://4.bp.blogspot.com/-O5bEwHXisX0/VYKIRKfVcQI/AAAAAAAAAAs/qaekCa3UHK0/s1600/paracablog.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-head--close {
    background: url("https://www.bolsamania.com/cine/wp-content/uploads/2018/04/7-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-head__title {
    font-size: 16px;
    font-weight: 700;
}

.card-head__desc {
    font-weight: 400;
}

.card-body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
    grid-gap: 15px;
    padding: 15px;
}

.card-body__list li::before {
    content: '-';
    margin-right: 10px;
}

.list {
    list-style: decimal;
    padding-left: 25px;
}

.clasif-actitud {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 15px;
}

.clasif-image {
    width: 250px;
    align-self: center;
}

.flex-centre {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flex-centre iframe {
    align-self: center;
}

.section-recommend a, .link-ref {
    color: black;
    display: block;
    font-weight: 700;
}

.img-activities {
    align-self: center;
    max-width: 633px;
}

.text-white { color: #FFFFFF; }
/* colores: https://coolors.co/1e6866-bdede0-bbdbd1-b6b8d6-a7b8ef */